a {
  text-decoration: none !important;
  color: #000 !important;
}

.mobile-head-nav > * {
  width: 50%;
  padding: 0.4rem 0.5rem !important;
  text-wrap: nowrap;
  overflow-x: auto;
}

#tab-nav {
  text-wrap: nowrap;
  overflow-x: auto;
}
#tab-nav::-webkit-scrollbar {
  height: 0;
}

.search-container {
  border: 1px solid #E2E2E2;
  padding: 5px 13px;
  box-shadow: 0px 8px 16px #7F6AFF4D;
}
.search-container .search-image {
  opacity: 0.4;
  margin-left: 5px;
}
.search-container img {
  vertical-align: middle;
}
.search-container input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 6px;
  min-width: 100px;
  text-overflow: ellipsis;
}

.search-container :is(button, input, select, textarea) {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
}

.search-container .vl {
  border-left: 1px solid #E2E2E2;
  width: 1px;
  height: 48px;
  opacity: 0.3px;
  margin-right: 20px;
}

.search-container .country-select {
  display: flex;
  align-items: center;
}

.search-container .find-jobs-btn {
  background-color: #00355F;
  color: #fff;
  border: none;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  width: 150px;
  line-height: 50px;
  text-align: center;
  margin-left: 32px;
}

.search-container .find-jobs-btn::after {
  content: "";
  position: absolute;
  right: 0;
  top: 26%;
  height: 28px;
  background-color: red;
  transform: translateX(50%);
  width: 6px;
}

.dropdown-toggle::after {
  display: none !important;
}
.grow {
  transition: scale 0.05s;
}
.grow:hover {
  scale: 1.01;
}

.btn-orange-side {
  background-color: #003366;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  width: 150px;
  height: 45px;
  text-align: center;
}

.btn-orange-side::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
  background-color: red;
  transform: translateX(50%);
  width: 6px;
}

.btn-normal {
  background-color: #fff;
  color: #003366;
  border: 2px solid currentColor;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  width: 150px;
  height: 45px;
  text-align: center;
}

.dropdown .show i {
  rotate: 180deg;
}
.dropdown .accordion-header {
  padding: 8px !important;
}

main > .navbar {
  background-color: rgb(240, 240, 243);
}


.scroll-bar::-webkit-scrollbar {
  width: 7px;
}

.scroll-bar::-webkit-scrollbar-track {
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 1rem;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #003366e4;
  border-radius: 1rem;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: #003366;
  cursor: grab;
}

.scroll-bar::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.active {
  color: #000;
  background-color: #fff;
  border-bottom: 4px solid #003366;
  padding-bottom: 10px;
  font-family: navbar;
  font-weight: 600;
}

.content {
  height: 100dvh;
}
.content > aside {
  width: 29%; 
}
.content > section {
  width: 68%;
  background-color: #fff;
  position: relative;
}
.content> section:target {
  display: block !important;
}
.mobile-overlay {
  height: 30px;
  width: 130%;
  margin-left: -15%;
  margin-bottom: 10px;
  background-color: #fff;
  border-bottom: 0.5px solid #000;
}
/* .mobile-overlay > div {
  width: 22%;
  height: 8px;
  background-color: lightgray;
  border-radius: 1rem;
  margin: 0 auto;
} */
.mobile-overlay > a {
  font-size: 20px;
  color: #000;
  position: fixed;
  right: 5%;
  top: 1%;
  color: red !important;
  background-color: #fff;
  padding: 3px 7px;
  border-radius: 50%;
}

.expert-cards {
  box-shadow: 0 3px 10px #bdbdf7;
  cursor: pointer; 
  width: 97%;
}

.social-media {
  margin-top: 20px;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #9c9c9c;
  color: #f3f1f1 !important;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1.2rem;
}

.social-icons a:hover {
  color: #52a2f2 !important;
  background-color: #cecece;
}
.footer-new hr {
  background-color: #000;
  width: 100%;
  height: 2px;
  margin: -10px 0 20px !important;
}
.footer-section h3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-section i {
  color: black;
}
.footer-section ul {
  transition: all 0.3s 0s ease-in-out;
  overflow-y: hidden;
}
.footer-section ul {
  max-height: 500px;
}
.footer-section .show i {
  rotate: 180deg;
}
.footer-section .show + ul {
  max-height: 300px;
}